/* RESETS & ROOT STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid red;   */
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  letter-spacing: var(--letter-spacing);
}

ul {
  list-style: none;
}

:root {
  --accent-color: #5F85DB;
  --accent-lighter: #90B8F8;
  --background-color: #26282B;
  --background-shade: #353941;
  --background-hover: #9ba2aa;
  --border-radius: 6px;
  --filter: brightness(0) saturate(100%) invert(52%) sepia(16%) saturate(1722%) hue-rotate(184deg) brightness(96%) contrast(85%);
  --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.5;
  --letter-spacing: 0.05rem;
  --padding: 1.5rem;
  --text-color: #F3F3F3;
  --transition: transform 0.2s ease-in-out;
}

/* LAYOUT */

.container {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin: 0 auto; 
  max-width: 95%;
}

.title-and-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 4rem;
  gap: 2rem;
}

.list-manager-container,
.default-list-container {
  min-height: 50vh;
  flex-grow: 1;
}

.todo-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HEADER */

.header {
  margin-top: 1rem;
}

.header-text {
  font-size: clamp(1.4rem, 12vw, 2.75rem);
  text-align: right;
}

.header-text::before,
.header-text::after {
  color: var(--accent-color);
}

.header-text::before {
  content: "(";
}

.header-text::after {
  content: ")";
}


/* DEFAULT LIST */

.default-list-container {
  flex: 3; 
  min-width: 100px;
  max-width: 450px; 
  background-color: var(--background-shade);
  border-radius: var(--border-radius);
}

.list-item {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  border-bottom: 2px solid var(--background-hover);
  padding: 1.25rem;
}

.task-text-title {
  font-weight: bold;
}

.task-text {
  opacity: 50%;
}

.list-title-text {
  color: var(--accent-color);
}

.list-item-checkbox {
  margin-right: 1rem;
  align-self: center;
  background-color: var(--background-shade);
  width: 1.25rem;
  height: 1.25rem;
}

.completed-task-text {
  text-decoration: line-through;
  opacity: 0.5;
}

.list-item-del-btn,
.list-delete-btn {
  filter: var(--filter);
}

.list-item-del-btn::before,
.list-delete-btn::before {
  content: "";
  cursor: pointer;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(/src/assets/icons/trash-outline.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* LIST MANAGER */

.list-manager-container {
  flex: 1; 
  min-width: 100px; 
  max-width: 250px; 
  background-color: var(--background-shade);
  border-radius: var(--border-radius);
}

.list-manager-title {
  text-align: left;
}

.list-name-input {
  appearance: none;
  background-color: var(--text-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--background-color);
  height: 2rem;
}

/* BUTTONS */

.add-task-btn,
.new-list-btn {
  background-image: url('./assets/icons/add-circle-outline.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  transition: var(--transition);
  filter: var(--filter);
}

.new-list-btn {
  filter: invert(94%) sepia(34%) saturate(3075%) hue-rotate(198deg) brightness(97%) contrast(200%);
}

/* TASK FORM */

input:focus:not(.list-item-checkbox),
input:hover:not(.list-item-checkbox) {
  outline: 2px solid var(--accent-color);
  background-color: var(--background-hover);
}

input.list-item-checkbox:hover {
  outline: none;
  background-color: initial;
}

.task-title-input,
.task-description-input,
.task-dueDate-input,
.task-submit-btn,
.add-list-btn {
  appearance: none;
  background-color: var(--background-shade);
  border: none;
  border-radius: var(--border-radius);
  color: inherit;
  color-scheme: dark;
  height: 2rem;
  margin: 0.5rem 1rem;
}

.task-submit-btn,
.add-list-btn {
  background-color: var(--accent-color);
  padding: 0 2em;
  cursor: pointer;
}

/* MODAL */

.todo-dialog {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  border: none;
}

.todo-form {
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
}

button, input[type="submit"] {
  padding: 8px;
  background-color: var(--accent-color);
  border: none;
  color: white;
  cursor: pointer;
  line-height: 1;
}

.cancel-btn {
  background-color: var(--background-hover);
  color: var(--text-color);
  width: 100%;
}

.cancel-btn:hover {
  opacity: 75%;
}